<!DOCTYPE html>
<html>
  <head>
    <title><% if (typeof title !== 'undefined') { %><%= title %><% } %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--STYLES-->
    <link rel="stylesheet" href="/node/Inscripciones94/min/production.min.css?v=1580258032248">
    <!--STYLES END-->
  </head>

  <body class="p-3" id="<%= id %>">
    <h1><% if (typeof title !== 'undefined') { %><%= title %><% } %></h1>

    <% if (typeof mensaje !== "undefined") { -%>
    <div class="alert alert-danger mt-5 w-75" role="alert"><%- mensaje %></div>
    <button onClick="window.location.href='<%= sails.config.custom.basePath %>/'" class="btn btn-primary">Volver al inicio</button>
    <% } else { -%>
    <%- body %>
    <% } -%>

    <!--TEMPLATES-->

    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/node/Inscripciones94/min/production.min.js?v=1580258032237"></script>
    <!--SCRIPTS END-->
  </body>
</html>
