<p class="lead">Los estudiantes inscriptos previamente en cursos del Plan 1994 pueden
   utilizar este formulario para solicitar inscripciones a materias en liceos
   seleccionados.</p>

<div class="card">
  <div class="card-header">Identificación</div>
  <div class="card-body">
      <div class="form-group">
        <label for="cedula">Número de cédula</label>
        <input type="hidden" class="form-control" name="cedula" value="<%= cedula %>">
        <input type="text" class="form-control" id="cedula" value="<%= cedula %>" disabled>
      </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-header">Liceo seleccionado</div>
  <div class="card-body">
    <select class="custom-select has-feedback" id="dependid" name="dependid" disabled>
      <option value="<%= dependId %>"><%= dependDesc %></option>
    </select>
  </div>
</div>

<div class="card mt-3">
  <div class="card-header bg-primary text-white">Materias</div>
  <div class="card-body">
    <p>Seleccione el grado y asignatura para acceder a los horarios de los grupos:</p>

    <label for="grado">Grado</label>
    <select class="custom-select has-feedback" id="grado" name="grado" onChange="updateCGOOA()">
      <option selected disabled>Elija un grado...</option>
      <option value="1">1º BD (4º)</option>
      <option value="2">2º BD (5ª)</option>
      <option value="3">3º BD (6º)</option>
    </select>

    <div id="gOrientacion">
      <label for="orientacion">Orientación</label>
      <select class="custom-select has-feedback" id="orientacion" name="orientacion" onChange="updateCGOOA()">
      </select>
    </div>

    <div id="gOpcion">
      <label for="opcion">Opción</label>
      <select class="custom-select has-feedback" id="opcion" name="opcion" onChange="updateCGOOA()">
      </select>
    </div>

    <div id="gAsignatura">
      <label for="asignatura">Asignatura</label>
      <select class="custom-select has-feedback" id="asignatura" name="asignatura" onchange="verHorarios()">
      </select>
    </div>

    <table id="horarios" class="table mt-3 d-none">
      <thead>
        <tr><th>Materia</th><th>Lunes</th><th>Martes</th><th>Miércoles</th><th>Jueves</th><th>Viernes</th><th class="d-print-none"></th></tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<form method="post" action="<%= sails.config.custom.basePath %>/main/paso2">

  <div class="card mt-3">
    <div class="card-header bg-success text-white">Tus horarios</div>
    <div class="card-body">
      Al agregar materias iremos mostrando los horarios seleccionados.

      <table id="misHorarios" class="table mt-3 d-none">
        <thead>
          <tr><th>Materia</th><th>Lunes</th><th>Martes</th><th>Miércoles</th><th>Jueves</th><th>Viernes</th><th class="d-print-none"></th></tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

  <div class="alert alert-danger mt-3 mb-0 d-none" id="mensaje"></div>

  <button class="btn btn-primary mt-3 mb-3" id="anotarse" disabled>Anotarse a las materias</button>

</form>

<script>
var asignaturas = <%- JSON.stringify(asignaturas) %>;
var orientaciones = [ {id:15,OrientacionDesc:'Humanístico'},{id:16,OrientacionDesc:'Biológico'},{id:17,OrientacionDesc:'Científico'} ];
var opciones = [ {id:13,OpcionDesc:'Derecho',OrientacionId:15},{id:14,OpcionDesc:'Economía',OrientacionId:15},{id:15,OpcionDesc:'Agronomía',OrientacionId:16},{id:16,OpcionDesc:'Medicina',OrientacionId:16},{id:17,OpcionDesc:'Arquitectura',OrientacionId:17},{id:18,OpcionDesc:'Ingeniería',OrientacionId:17} ];
var horarios = <%- JSON.stringify(horarios) %>;
var misHorarios = [];

function update_asignatura() {
  var gradoId = $('#grado').val();
  var orientacionId = $('#orientacion').val();
  var opcionId = $('#opcion').val();
  var options = [ '<option selected disabled>Elija una asignatura...</option>' ];
  if (!gradoId || (gradoId!=1 && !(orientacionId || opcionId))) {
    $('#gAsignatura').addClass('d-none');
  } else {
    asignaturas.forEach(function(a){
      //console.log(orientacionId,opcionId,a.orientacionId,a.opcionId);
      if (a.gradoId == gradoId && (!orientacionId || a.orientacionId == orientacionId) && (!opcionId || a.opcionId == opcionId)) {
        options.push( '<option value='+a.id+'>'+a.AsignDesc+'</option>' );
      }
    });
    $('#asignatura').html(options.join(''));
    $('#gAsignatura').removeClass('d-none');
  }
};

function update_orientacion() {
  var gradoId = $('#grado').val();
  var orientacionId = $('#orientacion').val();
  if (gradoId != 2) {
    $('#gOrientacion').addClass('d-none');
    $('#orientacion').val(null);
  } else {
    var options = ['<option disabled>Elija una orientación...</option>'];
    orientaciones.forEach(function(o) {
      options.push( '<option value='+o.id+(orientacionId == o.id ? ' selected' :'')+'>'+o.OrientacionDesc+'</option>' );
    });
    $('#orientacion').html(options.join(''));
    $('#gOrientacion').removeClass('d-none');
  }
};

function update_opcion() {
  var gradoId = $('#grado').val();
  var opcionId = $('#opcion').val();
  if (gradoId != 3) {
    $('#gOpcion').addClass('d-none');
    $('#opcion').val(null);
  } else {
    var options = ['<option disabled>Elija una opción...</option>'];
    opciones.forEach(function(o) {
      options.push( '<option value='+o.id+(opcionId == o.id ? ' selected' : '')+' data-orientacion="'+o.OrientacionId+'">'+o.OpcionDesc+'</option>' );
    });
    $('#opcion').html(options.join(''));
    $('#gOpcion').removeClass('d-none');
  }
};

function updateCGOOA() {
  $('#horarios').addClass('d-none');
  update_orientacion();
  update_opcion();
  update_asignatura();
};

function formatoHorario(horario, disabled, btnClass, btnText) {
  var html = '<tr'+(disabled ? ' class="disabled"' : '')+'>';
  html += '<td>'+horario.MateriaNombre+'<br>'+horario.TipoDictadoDesc+'<br>'+horario.TipoDuracionDesc+'<br>('+horario.id+')</td>';

  var arrHorarios = {'LUN':[],'MAR':[],'MIE':[],'JUE':[],'VIE':[]};
  horario.Horarios.split(/,/).forEach(function(hd) {
    arrHorarios[hd.substr(0,3)].push( hd.substr(4) );
  });
  for (d in arrHorarios) {
    html += '<td>'+arrHorarios[d].join('<br>')+'</td>';
  }

  html += '<td class="d-print-none">'+(disabled ? '('+disabled+')' : '<button class="btn '+btnClass+'" data-id='+horario.id+'>'+btnText+'</button>')+'</td>';
  html += '</tr>';
  return html;
};

function verHorarios() {
  var gradoId = $('#grado').val();
  var asignId = $('#asignatura').val();
  var orientacionId = $('#orientacion').val();
  var opcionId = $('#opcion').val();

  var body = [];
  horarios.forEach(function(h) {
    var conQuienSolapa = solapada(h.Horarios, misHorarios);
    var disabled = misHorarios.find(function(m){return m.MateriaId==h.MateriaId && m.TipoDictadoDesc==h.TipoDictadoDesc}) ? 'ya agregada' : conQuienSolapa.length>0 ? 'se solapa con '+conQuienSolapa.join(',') : undefined;
    if (h.GradoId == gradoId && (!orientacionId || h.OrientacionId == orientacionId) && (!opcionId || h.OpcionId == opcionId) && h.AsignId == asignId) {
      body.push( formatoHorario(h, disabled, 'btn-primary', 'Agregar') );
    }
  });

  $('#horarios tbody').html(body.join(''));
  $('#horarios').removeClass('d-none');
  $('#horarios button').click(agregarHorario);
  $(window).scrollTop($('#horarios').offset().top);
};

function solapada(strHorarios, misHorarios) {
  
  var solapado = {};

  misHorarios.forEach(function(m) {
    m.Horarios.split(/,/).forEach(function(hd) {
      if (strHorarios.indexOf(hd)>-1) {
        solapado[m.MateriaNombre] = 1;
      }
    });
  });
  return Object.keys(solapado);
};

function agregarHorario() {
  var id = $(this).data('id');
  misHorarios.push( horarios.find(function(h) { return h.id == id }) );
  verHorarios();
  verMisHorarios();
};

function sacarHorario() {
  var id = $(this).data('id');
  for (var i=0; i<misHorarios.length; i++) {
    if (misHorarios[i].id == id) {
      misHorarios.splice(i, 1);
    }
  }
  verHorarios();
  verMisHorarios();
};

function verMisHorarios() {
  var body = [];
  misHorarios.forEach(function(m) {
    body.push( formatoHorario(m, false, 'btn-danger', 'Sacar') );
  });
  $('#misHorarios tbody').html(body.join(''));
  if (misHorarios.length > 0) {
    $('#misHorarios').removeClass('d-none');
  } else {
    $('#misHorarios').addClass('d-none');
  }
  $('#misHorarios button').click(sacarHorario);
  $(window).scrollTop($('#misHorarios').offset().top);

  validar(misHorarios);
};

function validar(misHorarios) {

  var error = [];

  // valido que cada práctico tenga su teórico:
  var materias = { 'Teórico':{}, 'Práctico':{} };
  misHorarios.forEach(function(m) {
    materias[m.TipoDictadoDesc][m.MateriaNombre] = 1;
  });
  for (var materia in materias['Práctico']) {
    if (typeof materias['Teórico'][materia] === 'undefined') {
      error.push( 'Falta agregar un teórico de '+materia );
    }
  }

  // muestro un mensaje con el resultado de la validación
  mensaje(error.join('<br>'));

console.log(misHorarios.length);
console.log(error.length);

  $('#anotarse').attr('disabled', (misHorarios.length>0 && error.length == 0 ? null : 'disabled'));
};

function mensaje(texto) {
  $('#mensaje').html( texto );
  if ( typeof texto !== 'undefined' && texto !== '' ) {
    $('#mensaje').removeClass('d-none');
  } else {
    $('#mensaje').addClass('d-none');
  }
};

window.onload = function(){
  updateCGOOA();
};
</script>
