<p class="lead">Los estudiantes inscriptos previamente en cursos del Plan 1994 pueden
   utilizar este formulario para solicitar inscripciones a materias en liceos
   seleccionados.</p>

<div class="card">
  <div class="card-header">Identificación</div>
  <div class="card-body">
      <div class="form-group">
        <label for="cedula">Número de cédula</label>
        <input type="hidden" class="form-control" name="cedula" value="<%= cedula %>">
        <input type="text" class="form-control" id="cedula" value="<%= cedula %>" disabled="disabled">
      </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-header">Liceo seleccionado</div>
  <div class="card-body">
    <select class="custom-select has-feedback" id="dependid" name="dependid" disabled>
      <option value="<%= dependId %>"><%= dependDesc %></option>
    </select>
  </div>
</div>

<div class="card mt-3">
  <div class="card-header bg-primary text-white">Materias</div>
  <div class="card-body">
    <p>Agregue las materias que va a cursar</p>

    <label for="grado">Grado</label>
    <select class="custom-select has-feedback" id="grado" name="grado" onChange="updateCGOOA()">
      <option selected disabled>Elija un grado...</option>
      <option value="1">1º BD (4º)</option>
      <option value="2">2º BD (5ª)</option>
      <option value="3">3º BD (6º)</option>
    </select>

    <div id="gOrientacion">
      <label for="orientacion">Orientación</label>
      <select class="custom-select has-feedback" id="orientacion" name="orientacion" onChange="updateCGOOA()">
      </select>
    </div>

    <div id="gOpcion">
      <label for="opcion">Opción</label>
      <select class="custom-select has-feedback" id="opcion" name="opcion" onChange="updateCGOOA()">
      </select>
    </div>

    <div id="gAsignatura">
      <label for="asignatura">Asignatura</label>
      <select class="custom-select has-feedback" id="asignatura" name="asignatura" onchange="verHorarios()">
      </select>
    </div>

    <table id="horarios" class="table mt-3 d-none">
      <thead>
        <tr><th>Materia</th><th>Grupo</th><th>Tipo</th><th>Duración</th><th>Horario</th><th class="d-print-none"></th></tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<form method="post" action="<%= sails.config.custom.basePath %>/main/paso2">

  <div class="card mt-3 d-none">
    <div class="card-header bg-success text-white">Horarios</div>
    <div class="card-body">
...
    </div>
  </div>

</form>

<script>
var asignaturas = <%- JSON.stringify(asignaturas) %>;
var orientaciones = [ {id:15,OrientacionDesc:'Humanístico'},{id:16,OrientacionDesc:'Biológico'},{id:17,OrientacionDesc:'Científico'} ];
var opciones = [ {id:13,OpcionDesc:'Derecho',OrientacionId:15},{id:14,OpcionDesc:'Economía',OrientacionId:15},{id:15,OpcionDesc:'Agronomía',OrientacionId:16},{id:16,OpcionDesc:'Medicina',OrientacionId:16},{id:17,OpcionDesc:'Arquitectura',OrientacionId:17},{id:18,OpcionDesc:'Ingeniería',OrientacionId:17} ];
var horarios = <%- JSON.stringify(horarios) %>;

function update_asignatura() {
  var gradoId = $('#grado').val();
  var orientacionId = $('#orientacion').val();
  var opcionId = $('#opcion').val();
  var options = [ '<option selected disabled>Elija una asignatura...</option>' ];
  if (!gradoId || (gradoId!=1 && !(orientacionId || opcionId))) {
    $('#gAsignatura').addClass('d-none');
  } else {
    asignaturas.forEach(function(a){
      //console.log(orientacionId,opcionId,a.orientacionId,a.opcionId);
      if (a.gradoId == gradoId && (!orientacionId || a.orientacionId == orientacionId) && (!opcionId || a.opcionId == opcionId)) {
        options.push( '<option value='+a.id+'>'+a.AsignDesc+'</option>' );
      }
    });
    $('#asignatura').html(options.join(''));
    $('#gAsignatura').removeClass('d-none');
  }
};

function update_orientacion() {
  var gradoId = $('#grado').val();
  var orientacionId = $('#orientacion').val();
  if (gradoId != 2) {
    $('#gOrientacion').addClass('d-none');
    $('#orientacion').val(null);
  } else {
    var options = ['<option disabled>Elija una orientación...</option>'];
    orientaciones.forEach(function(o) {
      options.push( '<option value='+o.id+(orientacionId == o.id ? ' selected' :'')+'>'+o.OrientacionDesc+'</option>' );
    });
    $('#orientacion').html(options.join(''));
    $('#gOrientacion').removeClass('d-none');
  }
};

function update_opcion() {
  var gradoId = $('#grado').val();
  var opcionId = $('#opcion').val();
  if (gradoId != 3) {
    $('#gOpcion').addClass('d-none');
    $('#opcion').val(null);
  } else {
    var options = ['<option disabled>Elija una opción...</option>'];
    opciones.forEach(function(o) {
      options.push( '<option value='+o.id+(opcionId == o.id ? ' selected' : '')+' data-orientacion="'+o.OrientacionId+'">'+o.OpcionDesc+'</option>' );
    });
    $('#opcion').html(options.join(''));
    $('#gOpcion').removeClass('d-none');
  }
};

function updateCGOOA() {
  $('#horarios').addClass('d-none');
  update_orientacion();
  update_opcion();
  update_asignatura();
};

function verHorarios() {
  var asignId = $('#asignatura').val();
  var orientacionId = $('#orientacion').val();
  var opcionId = $('#opcion').val();

  var body = [];
  horarios.forEach(function(h) {
    if (h.AsignId == asignId && (!orientacionId || h.OrientacionId == orientacionId) && (!opcionId || h.OpcionId == opcionId)) {
      body.push( '<tr><td>'+h.MateriaNombre+'</td><td>'+h.GrupoMateriaDesc+'</td><td>'+h.TipoDictadoDesc+'</td><td>'+h.TipoDuracionDesc+'</td><td></td><td class="d-print-none"><button class="btn btn-primary">Agregar</button></td></tr>' );
    }
  });
  $('#horarios tbody').html(body.join(''));
  $('#horarios').removeClass('d-none');
};

window.onload = function(){
  updateCGOOA();
};
</script>
