
<script>
var asignaturas = <%- JSON.stringify(asignaturas) %>;
var misHorarios = <%- JSON.stringify(misHorarios) %>;
</script>

<div id="comprobante">
<p class="lead">Comprobante de solicitud de inscripción.</p>

        <label for="cedula">Número de cédula</label>
        <input type="text" class="form-control" id="cedula" value="<%= cedula %>" disabled>
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" value="<%= persona.PerNombreCompleto %>" disabled="disabled">
        <label for="nombre">Liceo</label>
        <input type="text" class="form-control" id="dependDesc" value="<%= dependDesc %>" disabled="disabled">
        <label for="nombre">Fecha</label>
        <input type="text" class="form-control" id="fecha" value="<%= fecha %>" disabled="disabled">

<div class="card mt-5">
  <div class="card-header bg-success text-white">Materias solicitadas</div>
  <div class="card-body">

<% misHorarios.forEach(function(horario) { %>
    <div class="card mt-3">
      <div class="card-header">Plan 1994 - <%- horario.GradoId %>º BD<% if (horario.OrientacionId>1 && horario.OpcionId==1) { %> - <%- orientaciones.find(function(o){return o.id==horario.OrientacionId}).OrientacionDesc %><% } %><% if (horario.OpcionId>1) { %> - <%- opciones.find(function(o){return o.id==horario.OpcionId}).OpcionDesc %><% } %> (<%- horario.InscripcionId %>)</div>
      <div class="card-body">
        <p>
          <%- horario.MateriaNombre %> - <%- horario.TipoDictadoDesc %> - <%- horario.TipoDuracionDesc %> - <%- horario.GrupoMateriaDesc %> (<%- horario.GrupoMateriaId %>)<br>
          <%- horario.Horarios ? horario.Horarios.replace(/,/g,', ') : '' %>
        </p>
      </div>
    </div>
<% }) %>

  </div>
</div>

</div>

<div class="alert alert-danger mt-3">
  <p>Esta solicitud de inscripción es válida por 2 días hábiles.<br>
     Debes confirmarla en el liceo <%- dependDesc %> entre hoy y el <%- vencimiento %> en el horario de 19:30 a 23:00.<br>
     Pasada esa fecha otro estudiante puede ocupar tu lugar en las materias solicitadas.</p>
</div>

<button class="btn btn-primary mt-3 mb-3 d-print-none" id="print" onClick="window.print()">Imprimir solicitud</button>
<button class="btn btn-primary mt-3 mb-3 mr-3 d-print-none" id="download" onclick="download()">Descargar comprobante</button>

<form method="post" action="<%= sails.config.custom.basePath %>/main/listado">
  <input type="hidden" name="cedula" value="<%- cedula %>">
  <button class="btn btn-primary mt-3 mb-3 d-print-none" id="listado">Ver inscripciones</button>
</form>

<script>
function download() {

  $('#paso3 .card-header').css('background-color','#fff');
  $('#paso3 button').css('visibility','hidden');

  var doc = new jsPDF({unit:'px',format:'a4'});
  doc.html(document.body, {
    html2canvas: { scale:0.3,windowWidth:575, },
    callback: function (doc) {
      doc.save('comprobante-<%- cedula %>.pdf');
      $('#paso3 .card-header').css('background-color','');
      $('#paso3 button').css('visibility','visible');
   },
  });
};
</script>
