<p class="lead">Los estudiantes inscriptos previamente en cursos del Plan 1994 pueden
   utilizar este formulario para solicitar inscripciones a materias en liceos
   seleccionados.</p>

<div class="card">
  <div class="card-header">Identificación</div>
  <div class="card-body">
      <div class="form-group">
        <label for="cedula">Número de cédula</label>
        <input type="text" class="form-control" id="cedula" value="<%= cedula %>" disabled>
      </div>
  </div>
</div>

<div class="card mt-3">
  <div class="card-header">Liceo seleccionado</div>
  <div class="card-body">
    <select class="custom-select has-feedback" id="dependid" name="dependid" disabled>
      <option value="<%= dependId %>"><%= dependDesc %></option>
    </select>
  </div>
</div>

<div id='zona-materias'>
  <div class="card mt-3">
    <div class="card-header bg-primary text-white">Materias</div>
    <div class="card-body">
      <p>Seleccione el grado y asignatura para acceder a los horarios. Luego agregue materias hasta completar todas las que quiere cursar este año.</p>

      <label for="grado">Grado</label>
      <select class="custom-select has-feedback" id="grado" name="grado" onChange="updateCGOOA()">
        <option selected disabled>Elija un grado...</option>
        <option value="1">1º BD (4º)</option>
        <option value="2">2º BD (5ª)</option>
        <option value="3">3º BD (6º)</option>
      </select>

      <div id="gOrientacion">
        <label for="orientacion">Orientación</label>
        <select class="custom-select has-feedback" id="orientacion" name="orientacion" onChange="updateCGOOA()">
        </select>
      </div>

      <div id="gOpcion">
        <label for="opcion">Opción</label>
        <select class="custom-select has-feedback" id="opcion" name="opcion" onChange="updateCGOOA()">
        </select>
      </div>

      <div id="gAsignatura">
        <label for="asignatura">Asignatura</label>
        <select class="custom-select has-feedback" id="asignatura" name="asignatura" onchange="verHorarios()">
        </select>
      </div>

      <div class="table-responsive my-3 d-none" id="horarios">
        <label>Horarios de los grupos disponibles:</label>
        <table class="table">
          <thead>
            <tr><th>Materia</th><th>Lunes</th><th>Martes</th><th>Miércoles</th><th>Jueves</th><th>Viernes</th><th>Sábado</th><th class="d-print-none"></th></tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

    </div>
  </div>

  <div class="row mt-3 ml-0 mr-0">
    <button class="btn btn-primary" id="btn-horarios" onclick="verZonaHorarios()" disabled="disabled">Ver horarios de las materias seleccionadas <span class="badge badge-secondary"></span></button>
    <div class="alert alert-success m-0 ml-1" style="display:none;padding:.375rem .75rem" id="mensaje-ok"></div>
  </div>

</div>

<div id="zona-horarios" class="d-none">

  <div class="card mt-3">
    <div class="card-header bg-success text-white">Propuesta de horarios</div>
    <div class="card-body">
      <p>Al agregar materias iremos mostrando los horarios seleccionados.</p>

      <div class="table-responsive d-none my-3" id="misHorarios">
        <table class="table">
          <thead>
            <tr><th>Materia</th><th>Lunes</th><th>Martes</th><th>Miércoles</th><th>Jueves</th><th>Viernes</th><th>Sábado</th><th class="d-print-none"></th></tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>

      <p>Cuando elijas todas las materias puedes realizar la inscripción a los cursos.</p>
    </div>
  </div>

  <form method="post" action="<%= sails.config.custom.basePath %>/main/paso3">
    <input type="hidden" name="cedula" value="<%= cedula %>">
    <input type="hidden" name="dependid" value="<%= dependId %>">
    <input type="hidden" name="gm" id="gm">
    <button type="button" class="btn btn-primary my-3" id="btn-materias" onclick="verZonaMatrias()">Agregar otra materia</button>
    <button type="submit" class="btn btn-primary my-3" id="inscribirse" disabled>Solicitar inscripción</button>
  </form>
</div>

<div class="alert alert-danger mt-3 mb-0 d-none" id="mensaje"></div>

<script>
var asignaturas = <%- JSON.stringify(asignaturas) %>;
var orientaciones = [ {id:15,OrientacionDesc:'Humanístico'},{id:16,OrientacionDesc:'Biológico'},{id:17,OrientacionDesc:'Científico'} ];
var opciones = [ {id:13,OpcionDesc:'Derecho',OrientacionId:15},{id:14,OpcionDesc:'Economía',OrientacionId:15},{id:15,OpcionDesc:'Agronomía',OrientacionId:16},{id:16,OpcionDesc:'Medicina',OrientacionId:16},{id:17,OpcionDesc:'Arquitectura',OrientacionId:17},{id:18,OpcionDesc:'Ingeniería',OrientacionId:17} ];
var horarios = <%- JSON.stringify(horarios) %>;
var vacantes = <%- JSON.stringify(vacantes) %>;
var misHorarios = [];

function update_asignatura() {
  var gradoId = $('#grado').val();
  var orientacionId = $('#orientacion').val();
  var opcionId = $('#opcion').val();
  var options = [ '<option selected disabled>Elija una asignatura...</option>' ];
  if (!gradoId || (gradoId!=1 && !(orientacionId || opcionId))) {
    $('#gAsignatura').addClass('d-none');
  } else {
    asignaturas.forEach(function(a){
      if (a.gradoId == gradoId && (!orientacionId || a.orientacionId == orientacionId) && (!opcionId || a.opcionId == opcionId)) {
        options.push( '<option value='+a.id+'>'+a.AsignDesc+'</option>' );
      }
    });
    $('#asignatura').html(options.join(''));
    $('#gAsignatura').removeClass('d-none');
  }
};

function update_orientacion() {
  var gradoId = $('#grado').val();
  var orientacionId = $('#orientacion').val();
  if (gradoId != 2) {
    $('#gOrientacion').addClass('d-none');
    $('#orientacion').val(null);
  } else {
    var options = ['<option disabled>Elija una orientación...</option>'];
    orientaciones.forEach(function(o) {
      options.push( '<option value='+o.id+(orientacionId == o.id ? ' selected' :'')+'>'+o.OrientacionDesc+'</option>' );
    });
    $('#orientacion').html(options.join(''));
    $('#gOrientacion').removeClass('d-none');
  }
};

function update_opcion() {
  var gradoId = $('#grado').val();
  var opcionId = $('#opcion').val();
  if (gradoId != 3) {
    $('#gOpcion').addClass('d-none');
    $('#opcion').val(null);
  } else {
    var options = ['<option disabled>Elija una opción...</option>'];
    opciones.forEach(function(o) {
      options.push( '<option value='+o.id+(opcionId == o.id ? ' selected' : '')+' data-orientacion="'+o.OrientacionId+'">'+o.OpcionDesc+'</option>' );
    });
    $('#opcion').html(options.join(''));
    $('#gOpcion').removeClass('d-none');
  }
};

function updateCGOOA() {
  $('#horarios').addClass('d-none');
  update_orientacion();
  update_opcion();
  update_asignatura();
};

function formatoHorario(horario, disabled, btnClass, btnText, ultimosLugares) {
  var html = '<tr'+(disabled ? ' class="disabled"' : '')+'>';
  html += '<td>'+horario.MateriaNombre+' de '+horario.GradoId+'º BD<br>'+horario.TipoDictadoDesc+'<br>'+horario.TipoDuracionDesc+'<br><small>('+horario.GrupoMateriaId+')</small></td>';

  var arrHorarios = {'LUN':[],'MAR':[],'MIE':[],'JUE':[],'VIE':[],'SAB':[]};
  horario.Horarios.split(/,/).forEach(function(hd) {
    arrHorarios[hd.substr(0,3)].push( hd.substr(4) );
  });
  for (d in arrHorarios) {
    html += '<td>'+arrHorarios[d].join('<br>')+'</td>';
  }

  if (btnText) {
    html += '<td class="d-print-none">'+(disabled ? '('+disabled+')' : '<button class="btn '+btnClass+'" data-id='+horario.id+'>'+btnText+'</button>'+(ultimosLugares ? '<br><span class="text-danger small">¡Últimos lugares!</span>' : ''))+'</td>';
  }
  html += '</tr>';
  return html;
};

function verHorarios() {
  var gradoId = $('#grado').val();
  var asignId = $('#asignatura').val();
  var orientacionId = $('#orientacion').val();
  var opcionId = $('#opcion').val();

  var body = [];
  horarios.forEach(function(h) {
    var conQuienSolapa = solapada(h.Horarios, misHorarios);
    var objHayVacantes = vacantes.find(function(v){return v.GrupoMateriaId==h.id});
    var hayVacantes = objHayVacantes ? objHayVacantes.vacantes : 10;
    var disabled = misHorarios.find(function(m){return m.MateriaId==h.MateriaId && m.TipoDictadoDesc==h.TipoDictadoDesc}) ? 'ya agregada' :
                     conQuienSolapa.length>0 ? 'se solapa con '+conQuienSolapa.join(', ') :
                       hayVacantes < 1 ? 'no hay vacantes' :
                         undefined;
    if (h.GradoId == gradoId && (!orientacionId || h.OrientacionId == orientacionId) && (!opcionId || h.OpcionId == opcionId) && h.AsignId == asignId) {
      body.push( formatoHorario(h, disabled, 'btn-primary', 'Agregar', hayVacantes<5) );
    }
  });

  $('#horarios tbody').html(body.join(''));
  $('#horarios').removeClass('d-none');
  $('#horarios button').click(agregarHorario);
  $('html,body').animate({ scrollTop: $('#btn-horarios').offset().top }, 1000);
  mensaje(!body.length ? 'No hay horarios disponibles para esta asignatura' : '');
};

function solapada(strHorarios, misHorarios) {
  var solapado = {};

  misHorarios.forEach(function(m) {
    m.Horarios.split(/,/).forEach(function(hd) {
      if (strHorarios.indexOf(hd)>-1) {
        solapado[m.MateriaNombre] = 1;
      }
    });
  });
  return Object.keys(solapado);
};

function agregarHorario() {
  var id = $(this).data('id');

  misHorarios.push( horarios.find(function(h) { return h.id==id }) );
  verHorarios();
  verMisHorarios();
  validar(misHorarios);
  $('#mensaje-ok').html('La materia fue agregada a tu selección').show();
  setTimeout(function(){$('#mensaje-ok').hide(1000)}, 5000);
  updateCGOOA();
};

function sacarHorario() {
  var id = $(this).data('id');
  for (var i=0; i<misHorarios.length; i++) {
    if (misHorarios[i].id == id) {
      misHorarios.splice(i, 1);
    }
  }
  verHorarios();
  verMisHorarios();
  validar(misHorarios);
};

function verMisHorarios() {
  var body = [];
  misHorarios.forEach(function(m) {
    body.push( formatoHorario(m, false, 'btn-danger', 'Sacar', false) );
  });
  $('#misHorarios tbody').html(body.join(''));
  if (misHorarios.length > 0) {
    $('#misHorarios').removeClass('d-none');
  } else {
    $('#misHorarios').addClass('d-none');
  }
  $('#misHorarios button').click(sacarHorario);
};

function verZonaMatrias() {
  $('#zona-materias').removeClass("d-none");
  $('#zona-horarios').addClass("d-none");
  updateCGOOA();
}

function verZonaHorarios() {
  $('#zona-materias').addClass("d-none");
  $('#zona-horarios').removeClass("d-none");
}

function validar(misHorarios) {
  var error = [];
  var cantHoras = 0;
  var grados = {};
  var orientacionesDiferentes = {};
  var opcionesDiferentes = {};
  var asignaturasDiferentes = {};

  // valido que cada práctico tenga su teórico:
  var materias = { 'Teórico':{}, 'Práctico':{} };
  misHorarios.forEach(function(m) {
    materias[m.TipoDictadoDesc][m.MateriaNombre] = 1;
    cantHoras += m.Horarios.split(/,/).length;
    grados[m.GradoId] = 1;
    if (m.GradoId==2 && m.OrientacionId && m.OrientacionId != 1) {
      orientacionesDiferentes[orientaciones.find(function(o){return o.id==m.OrientacionId}).OrientacionDesc] = 1
    }
    if (m.GradoId==3 && m.OpcionId && m.OpcionId != 1) {
      opcionesDiferentes[opciones.find(function(o){return o.id==m.OpcionId}).OpcionDesc] = 1
    }
    if (m.TipoDictadoDesc == 'Teórico') {
      asignaturasDiferentes[m.AsignId] = (asignaturasDiferentes[m.AsignId]+1) || 1;
    }
  });
  for (var materia in materias['Práctico']) {
    if (typeof materias['Teórico'][materia] === 'undefined') {
      error.push('Falta agregar un teórico de '+materia);
    }
  }

  // valido la cantidad total de horas
  if (cantHoras > 38) {
    error.push('Has superado el tope de 38 horas de clase');
  }
  // valido la cantidad de grados
  if (Object.keys(grados).length > 2) {
    error.push('El Plan de estudios no permite inscripciones en más de dos grados o niveles (Art. 4)');
  }
  // valido la cantidad de orientaciones
  if (Object.keys(orientacionesDiferentes).length > 2) {
    error.push('El Plan de estudios no permite inscripciones en más de dos orientaciones (Art. 4): '+Object.keys(orientacionesDiferentes).join(', '));
  }
  // valido la cantidad de opciones
  if (Object.keys(opcionesDiferentes).length > 2) {
    error.push('El Plan de estudios no permite inscripciones en más de dos opciones (Art. 4): '+Object.keys(opcionesDiferentes).join(', '));
  }
  // valido materias correlativas
  if (Object.values(asignaturasDiferentes).reduce(function(v,m){ return v || m>1 }, false)) {
    error.push('No se permiten inscripciones a materias correlativas en el formulario web (Art. 8)');
  }

  // muestro un mensaje con el resultado de la validación
  mensaje(error.join('<br>'));

  $('#btn-horarios .badge').html(misHorarios.length);
  if (misHorarios.length) {
    $('#btn-horarios').removeAttr('disabled');
  } else {
    $('#btn-horarios').attr('disabled','disabled');
  }

  $('#inscribirse').attr('disabled', (misHorarios.length>0 && error.length == 0 ? null : 'disabled'));
  $('#gm').val( JSON.stringify(misHorarios.map(function(m){return {GrupoMateriaId:m.GrupoMateriaId, GradoId:m.GradoId, OrientacionId:m.OrientacionId, OpcionId:m.OpcionId}})) );
  console.log($('#gm').val());
};

function mensaje(texto) {
  $('#mensaje').html( texto );
  if ( typeof texto !== 'undefined' && texto !== '' ) {
    $('#mensaje').removeClass('d-none');
  } else {
    $('#mensaje').addClass('d-none');
  }
};

window.onload = function(){
  updateCGOOA();
  $('#btn-horarios').attr('disabled','disabled');
};
</script>
